$fontOpenSans: "Open Sans", sans-serif;
$fontPoppins: "Poppins", sans-serif;
$fontOpenSans: "Public Sans", sans-serif;
$maxWidth: 1376px; 
$black: #000000; 
$secondBlack: #1D1D1D; 
$grey: #C4C4C4; 
$green: #ACE238; 
$white: #ffffff;
$baseFontSize: 20px;
$baseFontWeight: 400;