// sass styles/main.scss styles/main.css --watch
/*----импорты-------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "variables";

/*----основа-------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  box-sizing: border-box;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

body {
  font-size: $baseFontSize;
  font-weight: $baseFontWeight;
  font-family: $fontPoppins;
  color: $black;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
}

.__container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: $maxWidth;
}

button {
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    filter: brightness(120%);
  }

  &:active {
    filter: brightness(80%);
    transition: 0.2s;
  }
}

/*----inclusive-------------------------------------------*/

.inclusive {
  height: 1081px;
  width: 100%;
  position: relative;

  &__bg {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__container {}
}
.header {
  width: 100%;
  height: 160px;
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;

  &__container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__burger {
    margin: 0 0 0 auto;
    width: 40px;
    height: 26px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    div {
      width: 100%;
      height: 2px;
      background-color: $black;
    }
  }
  &__nav {
    margin: 0 auto 0 164px;
  }
  &__ul {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__li {
    color: $secondBlack;

    &:hover {
      transition: 0.2s;
      font-weight: 700;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 60px;
  }
  &__button {
    height: 100%;
    padding: 15px 20px;
    border: 1px solid $white;
    border-radius: 10px;
    font-size: 20px;
  }
  &__button--signIn {
    background-color: #ffffff21;
    color: $white;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
  &__button--logIn {
    border-color: $green;
    background-color: $green;
    color: $black;
  }
}

/*----media-------------------------------------------*/

@media (max-width: 1439px ) {
  .inclusive {

    &__bg {
      right: -320px;
    }
  }
  .header {
    
    &__nav {
      margin: 0 auto 0 auto;
    }
  }
}

@media (max-width: 1023px ) {
  .inclusive {

    &__bg {
      right: -420px;
    }
  }
  .header {
    
    &__li {
      font-size: 16px;
    }
    &__button {
      padding: 10px;
      font-size: 12px;
    }
  }
}

@media (max-width: 767px ) {
  .inclusive {

    &__bg {
      display: none;
    }
  }
  .header {
    height: 100px;

    &__nav {
      transition: 0.5s;
      position: absolute;
      top: 100px;
      left: -100%;
      background-color: $white;

      ul {
        flex-direction: column;
        gap: 0;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 20px;
          border: 1px solid $grey;

          &:not(:last-child) {
            border-bottom: none;
          }
        }
      }
      &--active {
        left: 0;
        width: 50%;
      }
    }
    &__buttons {
      display: none;
    }
    &__burger {
      display: flex;
    }
  }
}

@media (max-width: 423px ) {}