// sass styles/main.scss styles/main.css --watch
/*----импорты-------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "variables";

/*----основа-------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  box-sizing: border-box;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

body {
  font-size: $baseFontSize;
  font-weight: $baseFontWeight;
  font-family: $fontPoppins;
  color: $black;
  background-color: $bgWhite;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
}

.__container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: $maxWidth;
}

button {
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    filter: brightness(120%);
  }

  &:active {
    filter: brightness(80%);
    transition: 0.2s;
  }
}

.tag {
  background-color: $black;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 48px;
  margin-right: 136px;

  div {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: $green;
  }
  h3 {
    color: $white;
    font-size: 20px;
    font-weight: 400;
  }
}

/*----inclusive-------------------------------------------*/

.inclusive {
  position: relative;
  left: 0;
  top: 0;
  height: 1080px;
  width: 100%;
  position: relative;

  &__bg, &__bgImage {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__bgImage {
    top: 65px;
  }
  &__container {
    position: relative;
    z-index: 2;
    background-color: transparent;
    height: 100%;
    display: flex;
    gap: 60px;
    padding-bottom: 100px;
  }
  &__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0 13px 0;

    h1 {
      font-size: 74px;
      font-family: $fontOpenSans;
      line-height: 120%;
      margin: 0 0 40px 0;
    }
  }
	&__categories {
    display: flex;
    align-items: center;
    margin: 0 0 14px 0;
  }
	&__category {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 11px;
    background-color: $white;
    border-radius: 48px;
    
    &__circle {
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: $black;

      &--green {
        background-color: $green;
      }
    }
  }
	&__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
  }
	&__button {
    display: flex;
    align-items: center;
    font-size: 20px;

    &--let {
      padding: 20px;
      background-color: $black;
      color: $white;
      font-weight: 700;
      border-radius: 10px;
    }
    &--how {
      gap: 10px;
      background-color: inherit;

      div {
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $grey;

        div {
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: $black;
        }
      }
      span {
        text-decoration: underline;
        width: 124px;
      }

      &:hover {
        filter: none;
      }
    }
  }
	&__images {
    margin: 100px 0 0 0;
    display: flex;
    align-items: end;
    gap: 20px;
  }
	&__image {
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--bw {
      width: 194px;
      height: 150px;
      background-image: url("./../public/images/inclusive/bwGirl.jpg");
    }
    &--money {
      width: 210px;
      height: 196px;
      background-image: url("./../public/images/inclusive/moneyGirl.jpg");
    }
  }

  &__right {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__button {
      position: absolute;
      left: 0;
      bottom: 172px;
      width: 242px;
      height: 97px;
      justify-content: center;
      background-color: $black;
      display: flex;
      align-items: center;
      gap: 17px;
      border-radius: 20px;
      
      span {
        height: 52px;
        width: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;
        font-size: 16px;
        font-weight: 500;
        background-color: $green;
        border-radius: 10px;
        text-decoration: underline;
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: start;
        h3 {
          font-size: 16px;
          font-weight: 400;
          color: $white;
        }
      }
    }
    &__content {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 3;
      width: 411px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 108px 0 0 0;

      h2 {
        font-size: 64px;
        font-weight: 400;
        font-family: $fontOpenSans;
        color: $white;
        margin: 360px 0 44px 0;
      }
    }
  }
  &__notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 52px;
    background-color: $white;
    gap: 10px;
    border-radius: 46px;

    div {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $black;
      border-radius: 50%;
    }
    span {
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__statistics {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;

    &__info {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;

      div {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;

        h4 {
          font-size: 16px;
          font-weight: 400;
          color: $white;
          white-space: nowrap;
        }
      }
      span {
        width: 1px;
        height: 30px;
        background-color: $white;
      }
    }
    &__button {
      width: 66px;
      height: 66px;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
    }
  }
  &__cards {
    position: absolute;
    left: 25px;
  }
}

.header {
  width: 100%;
  height: 160px;
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;

  &__container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__burger {
    margin: 0 0 0 auto;
    width: 40px;
    height: 26px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    div {
      width: 100%;
      height: 2px;
      background-color: $black;
    }
  }
  &__nav {
    margin: 0 auto 0 164px;
  }
  &__ul {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__li {
    color: $secondBlack;

    &:hover {
      transition: 0.2s;
      font-weight: 700;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 60px;
  }
  &__button {
    height: 100%;
    padding: 15px 20px;
    border: 1px solid $white;
    border-radius: 10px;
    font-size: 20px;
  }
  &__button--signIn {
    background-color: #ffffff21;
    color: $white;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
  &__button--logIn {
    border-color: $green;
    background-color: $green;
    color: $black;
  }
}

/*----trusted-------------------------------------------*/

.trusted {
  width: 100%;
  background-color: $white;
  padding: 47px 0;

  &__container {
    display: flex;
    align-items: center;
    gap: 98px;

    h3 {
      white-space: nowrap;
      font-size: 20px;
      font-weight: 600;
      text-decoration: underline;
    }
  }
  &__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

/*----service-------------------------------------------*/

.service {
  width: 100%;
  padding: 150px 0 0 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  &__header {
    display: flex;
    align-items: start;
    justify-content: start;

    h2 {
      font-size: 48px;
      font-weight: 400;
      font-family: $fontOpenSans;
    }
  }
  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__card {
    margin: 0 auto;
    height: 444px;
    width: 303px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 30px;

    &--ias {
      background: rgb(29,29,29);
      background: linear-gradient(180deg, rgba(29,29,29,0.47) 47%, rgba(29,29,29,1) 100%);
    }
    &--mcw {
      background-color: $white;
      align-items: start;
      
      button {
        padding: 20px;
        background-color: $black;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
        color: $white;
      }
    }
    &--ifl {
      position: relative;
      background-color: $black;

      button {
        position: absolute;
        bottom: 20px;
        padding: 10px 12px;
        background-color: #374122;
        border-radius: 20px;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          background-color: $green;
          border-radius: 10px;
          padding: 10px 20px;

          span {
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
    }
    &--se {
      background: rgb(172,226,56);
      background: linear-gradient(13deg, rgba(172,226,56,1) 12%, rgba(29,29,29,1) 100%);
    }
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &__circle {
        padding: 10px 10px;
        background-color: $lightGrey;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $white;

        h6, span {
          border-radius: 40px;
          background-color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        h6 {
          padding: 7px 17px;
        }
        span{
          padding: 15px;
        }
      }
      &__block {
        width: 82px;
        height: 82px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F8F8F8;
        border-radius: 10px;
      }
    }
    h3 {
      font-size: 32px;
      font-weight: 500;
    }
    h4 {
      font-size: 32px;
      font-weight: 500;
      color: $white;
      text-align: center;
    }
    &__wb {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 319px;
      background-color: $white;
      border-radius: 30px;
      padding: 42px 28px;

      h5 {
        font-size: 32px;
        font-weight: 500;
        text-align: center;
        color: $black;
      }
    }
    &:hover {
      border: 2px solid $green;
    }
  }
}

/*----about-------------------------------------------*/

.about {
  width: 100%;
  padding: 150px 0 180px 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  &__header {
    display: flex;
    align-items: start;
    justify-content: start;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 40px;
      max-width: 537px;

      h2 {
        font-size: 48px;
        font-weight: 400;
        font-family: $fontOpenSans;
      }
      p {
        font-size: 20px;
        font-weight: 400;
      }
    }
    &__peopleJoined {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-left: auto;
      font-size: 20px;
      font-weight: 500;

      div {
        display: flex;
        align-items: center;

        span {
          width: 90px;
          height: 90px;
          background-color: $lightGrey;
          border-radius: 50%;
          border: 2px solid $white;
          transition: 0.5s;

          &:not(:first-child) {
            margin-left: -30px;
          }
          &:hover {
            border-color: $green;
          }
        }
      }
    }
  }
  &__content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;

    &__block {
      display: flex;
      flex-direction: column;

      &--white {
        background-color: $white;
        padding: 20px 24px 47px 40px;
        width: 518px;
        border-radius: 20px;
        gap: 12px;

        h4 {
          font-size: 32px;;
          font-weight: 500;

        }
        a {
          font-size: 16px;
          font-weight: 400;
          text-decoration: underline;
        }
      }
      &--black {
        align-items: end;
        gap: 14px;
      }
      &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-size: 16px;
          font-weight: 400;
        }
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $black;
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
      &__main {
        background-color: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 156px;
        padding: 0 30px;
        border-radius: 20px;

        &--second {
          padding: 0 10px 0 23px;
        }
      }
      &__icons {
        display: flex;
        align-items: center;
        gap: 17px;
      }
      &__procents {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        margin-right: 36px;

        h3 {
          font-size: 36px;
          color: $green;
        }
        h4 {
          font-size: 15px;
          color: $white;
        }
      }
      &__ifc {
        display: flex;
        flex-direction: column;
        gap: 36px;
        font-weight: 400;
        margin-right: 16px;

        h3 {
          font-size: 16px;
          color: $green;
        }
        h4 {
          font-size: 20px;
          color: $white;
        }
      }
      &__buttons {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 13px;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: inherit;
          color: $green;
          font-weight: 14;
          font-weight: 400;
          padding: 5px 15px;
          border: 1px solid $green;
          border-radius: 24px;
        }
      }
      &__greyImage {
        width: 78px;
        height: 136px;
        background-color: $grey;
        border-radius: 10px;
      }
    }
  }
}

/*----howItWork-------------------------------------------*/

.howItWork {
  position: relative;
  width: 100%;
  
  &__container {
    position: relative;
    z-index: 2;
    padding: 36px 0 101px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tag {
      margin: 0 0 8px 0;
    }
    h2 {
      text-align: center;
      font-family: $fontOpenSans;
      font-size: 48px;
      font-weight: 400;
      color: $white;
      margin: 0 0 45px 0;
    }
  }
  &__cards {
    width: 100%;
    height: auto;
  }
  &__offers {
    margin-top: -161px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #242424;
    border: 1px solid $green;
    padding: 50px 66px;
    border-radius: 40px;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__offer {
    display: flex;
    align-items: center;
    gap: 20px;

    div {
      height: 62px;
      width: 62px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondBlack;
      border-radius: 20px;
    }
    h3 {
      font-size: 20px;
      font-weight: 400;
      color: $white;
    }
    &--active {
      div {
        background-color: $green;
      }
    }
  }
  &__steps {
    margin: 61px 0 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }
  &__step {
    display: flex;
    flex-direction: column;
    gap: 30px;

    span {
      width: 83px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 400;
      color: $white;
      border: 1px solid $white;
      border-radius: 24px;
    }
    h4 {
      color: $white;
      font-family: $fontOpenSans;
      font-size: 40px;
      font-weight: 400;
    }
    &__text {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        align-items: start;
        gap: 10px;
      }
    }
  }
  &__bg {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

/*----media-------------------------------------------*/

@media (max-width: 1439px ) {
  .inclusive {

    &__bg {
      right: -320px;
    }
    &__bgImage {
      right: -220px;
    }
  }
  .header {
    
    &__nav {
      margin: 0 auto 0 auto;
    }
  }
}

@media (max-width: 1200px ) {
  .inclusive {
    &__right__button {
      left: auto;
      right: 0;
    }
    &__statistics {
      display: none;
    }
  }
  .trusted {
    &__container {
      flex-direction: column;
      gap: 30px;
    }
    &__logos {
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-around;
    }
  }
  .about {
    &__header {
      flex-direction: column;
      align-items: center;
      gap: 40px;
      text-align: center;

      &__peopleJoined {
        margin: 0;
      }
    }
    &__content {
      justify-content: center;
      gap: 30px;

      &__block {
        &--white {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 1023px ) {
  .inclusive {

    &__bg {
      right: -420px;
    }
    &__bgImage {
      right: -320px;
    }
    &__buttons {
      flex-direction: column;
      align-items: start;
    }
  }
  .header {
    
    &__li {
      font-size: 16px;
    }
    &__button {
      padding: 10px;
      font-size: 12px;
    }
  }
  .service {
    &__header {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 40px;
    }
  }
  .tag {
    margin-right: 0;
  }
}

@media (max-width: 767px ) {
  .inclusive {

    &__bg, &__bgImage {
      display: none;
    }
    &__right {
      &__content {
        display: none;
      }
      &__button {
        display: none;
      }
    }
    &__buttons {
      flex-direction: row;
      align-items: center;
    }
    &__cards {
      left: -100px;
    }
  }
  .header {
    height: 100px;

    &__nav {
      transition: 0.5s;
      position: absolute;
      top: 100px;
      left: -100%;
      background-color: $white;

      ul {
        flex-direction: column;
        gap: 0;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 20px;
          border: 1px solid $grey;

          &:not(:last-child) {
            border-bottom: none;
          }
        }
      }
      &--active {
        left: 0;
        width: 50%;
      }
    }
    &__buttons {
      display: none;
    }
    &__burger {
      display: flex;
    }
  }
  .about {
    &__content {
      &__block {
        &--white {
          width: 100%;
        }
      }
    }
  }
  .howItWork {
    &__offers {
      padding: 30px;
      align-items: center;
    }
    &__steps {
      justify-content: center;
    }
    &__step {
      align-items: center;
    }
  }
}

@media (max-width: 423px ) {
  .inclusive {
    &__buttons {
      flex-direction: column;
      align-items: start;
    }
    &__images {
    }
    &__image {
    }
  }
}