@charset "UTF-8";
/*----импорты-------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/*----основа-------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  box-sizing: border-box;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

body {
  font-size: 20px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #F8F8F8;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
}

.__container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1376px;
}

button {
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  filter: brightness(120%);
}
button:active {
  filter: brightness(80%);
  transition: 0.2s;
}

/*----inclusive-------------------------------------------*/
.inclusive {
  position: relative;
  left: 0;
  top: 0;
  height: 1080px;
  width: 100%;
  position: relative;
}
.inclusive__bg, .inclusive__bgImage {
  position: absolute;
  right: 0;
  top: 0;
}
.inclusive__bgImage {
  top: 65px;
}
.inclusive__container {
  position: relative;
  z-index: 2;
  background-color: transparent;
  height: 100%;
  display: flex;
  gap: 60px;
  padding: 0 0 100px 0;
}
.inclusive__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0 13px 0;
}
.inclusive__left h1 {
  font-size: 74px;
  font-family: "Public Sans", sans-serif;
  line-height: 120%;
  margin: 0 0 40px 0;
}
.inclusive__categories {
  display: flex;
  align-items: center;
  margin: 0 0 14px 0;
}
.inclusive__category {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 11px;
  background-color: #ffffff;
  border-radius: 48px;
}
.inclusive__category__circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #000000;
}
.inclusive__category__circle--green {
  background-color: #ACE238;
}
.inclusive__buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.inclusive__button {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.inclusive__button--let {
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  border-radius: 10px;
}
.inclusive__button--how {
  gap: 10px;
  background-color: inherit;
}
.inclusive__button--how div {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #C4C4C4;
}
.inclusive__button--how div div {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #000000;
}
.inclusive__button--how span {
  text-decoration: underline;
  width: 124px;
}
.inclusive__button--how:hover {
  filter: none;
}
.inclusive__images {
  margin: 100px 0 0 0;
  display: flex;
  align-items: end;
  gap: 20px;
}
.inclusive__image {
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.inclusive__image--bw {
  width: 194px;
  height: 150px;
  background-image: url("./../public/images/inclusive/bwGirl.jpg");
}
.inclusive__image--money {
  width: 210px;
  height: 196px;
  background-image: url("./../public/images/inclusive/moneyGirl.jpg");
}
.inclusive__right {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.inclusive__right__button {
  position: absolute;
  left: 0;
  bottom: 172px;
  width: 242px;
  height: 97px;
  justify-content: center;
  background-color: #000000;
  display: flex;
  align-items: center;
  gap: 17px;
  border-radius: 20px;
}
.inclusive__right__button span {
  height: 52px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  background-color: #ACE238;
  border-radius: 10px;
  text-decoration: underline;
}
.inclusive__right__button div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.inclusive__right__button div h3 {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.inclusive__right__content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 411px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 108px 0 0 0;
}
.inclusive__right__content h2 {
  font-size: 64px;
  font-weight: 400;
  font-family: "Public Sans", sans-serif;
  color: #ffffff;
  margin: 360px 0 44px 0;
}
.inclusive__notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 52px;
  background-color: #ffffff;
  gap: 10px;
  border-radius: 46px;
}
.inclusive__notification div {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 50%;
}
.inclusive__notification span {
  font-size: 16px;
  font-weight: 400;
}
.inclusive__statistics {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 52px;
}
.inclusive__statistics__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.inclusive__statistics__info div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.inclusive__statistics__info div h4 {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.inclusive__statistics__info span {
  width: 1px;
  height: 30px;
  background-color: #ffffff;
}
.inclusive__statistics__button {
  width: 66px;
  height: 66px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.inclusive__cards {
  position: absolute;
  left: 25px;
}

.header {
  width: 100%;
  height: 160px;
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
}
.header__container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.header__burger {
  margin: 0 0 0 auto;
  width: 40px;
  height: 26px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header__burger div {
  width: 100%;
  height: 2px;
  background-color: #000000;
}
.header__nav {
  margin: 0 auto 0 164px;
}
.header__ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__li {
  color: #1D1D1D;
}
.header__li:hover {
  transition: 0.2s;
  font-weight: 700;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 60px;
}
.header__button {
  height: 100%;
  padding: 15px 20px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 20px;
}
.header__button--signIn {
  background-color: rgba(255, 255, 255, 0.1294117647);
  color: #ffffff;
}
.header__button--signIn:hover {
  background-color: #ffffff;
  color: #000000;
}
.header__button--logIn {
  border-color: #ACE238;
  background-color: #ACE238;
  color: #000000;
}

/*----media-------------------------------------------*/
@media (max-width: 1439px) {
  .inclusive__bg {
    right: -320px;
  }
  .inclusive__bgImage {
    right: -220px;
  }
  .header__nav {
    margin: 0 auto 0 auto;
  }
}
@media (max-width: 1023px) {
  .inclusive__bg {
    right: -420px;
  }
  .inclusive__bgImage {
    right: -320px;
  }
  .header__li {
    font-size: 16px;
  }
  .header__button {
    padding: 10px;
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .inclusive__bg, .inclusive__bgImage {
    display: none;
  }
  .header {
    height: 100px;
  }
  .header__nav {
    transition: 0.5s;
    position: absolute;
    top: 100px;
    left: -100%;
    background-color: #ffffff;
  }
  .header__nav ul {
    flex-direction: column;
    gap: 0;
  }
  .header__nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border: 1px solid #C4C4C4;
  }
  .header__nav ul li:not(:last-child) {
    border-bottom: none;
  }
  .header__nav--active {
    left: 0;
    width: 50%;
  }
  .header__buttons {
    display: none;
  }
  .header__burger {
    display: flex;
  }
}

/*# sourceMappingURL=main.css.map */
